@{
    ViewData["Title"] = "Coach Dashboard";
}

<h2>Coach Dashboard</h2>

<ul>
    <li><a href="#">Create/Edit Profile</a></li>
    <li><a href="#">View Upcoming Schedules</a></li>
    <li><a href="#">See Enrolled Members</a></li>
</ul>
