@{
    ViewData["Title"] = "Member Dashboard";
}

<h1>Welcome to the Member Dashboard</h1>

<h2>Member Dashboard</h2>

<p>
    <a href="@Url.Action("Schedules", "MemberDashboard")">View My Schedules</a>
</p>

<p>
    <a href="@Url.Action("Coaches", "MemberDashboard")">View Coaches</a>
</p>
