@{
    ViewData["Title"] = "Member Dashboard";
}

<h2>Member Dashboard</h2>

<ul>
    <li><a href="#">View Schedules</a></li>
    <li><a href="#">View Coach Profiles</a></li>
    <li><a href="#">Enroll in a Schedule</a></li>
</ul>
